---
import { useTranslations } from "../../utils/translations";


const { lang } = Astro.props;
const t = useTranslations(lang);
---

<div class="text-start w-1/2 ps-60">
  <h2 class="pb-10 text-lg">
    {t("about.intro")}
  </h2>
  <h2 class="pb-10 text-lg">
    {t("about.teamwork")}
  </h2>
  <h2 class="text-lg">
    {t("about.hobbies")}
  </h2>
</div>