<div class="text-center text-white py-4 font-syne">
  <!-- Main stack -->
  <h2 class="text-xl font-semibold pt-2 pb-6">Main stack</h2>
  <div class="flex flex-wrap justify-center gap-10 text-6xl">
    <div class="tooltip">
      <i class="devicon-react-original colored"></i>
      <span class="tooltip-text">React</span>
    </div>
    <div class="tooltip">
      <i class="devicon-nextjs-plain"></i>
      <span class="tooltip-text">Next.js</span>
    </div>
    <div class="tooltip">
      <i class="devicon-astro-plain colored"></i>
      <span class="tooltip-text">Astro</span>
    </div>
    <div class="tooltip">
      <i class="devicon-reactnative-original-wordmark colored"></i>
      <span class="tooltip-text">React Native</span>
    </div>
    <div class="tooltip">
      <i class="devicon-expo-original"></i>
      <span class="tooltip-text">Expo</span>
    </div>
    <div class="tooltip">
      <i class="devicon-tailwindcss-original colored"></i>
      <span class="tooltip-text">Tailwind CSS</span>
    </div>
    <div class="tooltip">
      <i class="devicon-html5-plain-wordmark colored"></i>
      <span class="tooltip-text">HTML5</span>
    </div>
    <div class="tooltip">
      <i class="devicon-css3-plain-wordmark colored"></i>
      <span class="tooltip-text">CSS3</span>
    </div>
    <div class="tooltip">
      <i class="devicon-typescript-plain colored"></i>
      <span class="tooltip-text">TypeScript</span>
    </div>
    <div class="tooltip">
      <i class="devicon-git-plain colored"></i>
      <span class="tooltip-text">Git</span>
    </div>
  </div>

  <!-- Used -->
  <h2 class="text-xl font-semibold pt-10 pb-6">Minor Stack</h2>
  <div class="flex flex-wrap justify-center gap-10 text-6xl">
    <div class="tooltip-img">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg"
        width="62px"
        alt="Angular"
      />
      <span class="tooltip-text">Angular</span>
    </div>
    <div class="tooltip">
      <i class="devicon-bootstrap-plain colored"></i>
      <span class="tooltip-text">Bootstrap</span>
    </div>
    <div class="tooltip">
      <i class="devicon-supabase-plain colored"></i>

      <span class="tooltip-text">Supabase</span>
    </div>
    <div class="tooltip">
      <i class="devicon-nodejs-plain-wordmark colored"></i>
      <span class="tooltip-text">Node.js</span>
    </div>
    <div class="tooltip">
      <i class="devicon-express-original"></i>
      <span class="tooltip-text">Express.js</span>
    </div>
    <div class="tooltip">
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <span class="tooltip-text">MongoDB</span>
    </div>
  </div>

  <!-- Minor -->
  <h2 class="text-xl font-semibold pt-10 pb-6">Used</h2>
  <div class="flex flex-wrap justify-center gap-10 text-6xl pb-12">
    <div class="tooltip">
      <i class="devicon-php-plain colored"></i>
      <span class="tooltip-text">PHP</span>
    </div>
    <div class="tooltip">
      <i class="devicon-symfony-original"></i>
      <span class="tooltip-text">Symfony</span>
    </div>
    <div class="tooltip">
      <i class="devicon-spring-original colored"></i>
      <span class="tooltip-text">Spring</span>
    </div>
    <div class="tooltip">
      <i class="devicon-dotnetcore-plain colored"></i>
      <span class="tooltip-text">.NET Core</span>
    </div>
    <div class="tooltip">
      <i class="devicon-mysql-original colored"></i>
      <span class="tooltip-text">MySQL</span>
    </div>
    <div class="tooltip">
      <i class="devicon-postgresql-plain colored"></i>
      <span class="tooltip-text">PostgreSQL</span>
    </div>
  </div>
</div>
