---
// src/pages/index.astro
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Christian's Portfolio</title>
    <meta http-equiv="refresh" content="0; url=/en" />
    <script>
      window.location.href = "/en";
    </script>
  </head>
  <body style="background-color: rgb(8, 6, 15);">
    <div
      style="text-align: center; margin-top: 50px; font-family: Arial, sans-serif; color: white;"
    >
      <p>Redirecting to English version...</p>
      <p>
        If you're not redirected, <a href="/en" class="port-color"
          >click here</a
        >.
      </p>
    </div>
  </body>
</html>
