---
import AboutCard from "../components/AboutCard.astro";
import Header from "../components/Header.astro";
import Navbar from "../components/Navbar.astro";
import About from "../components/sections/About.astro";
import Contact from "../components/sections/Contact.astro";
import Skills from "../components/sections/Skills.astro";
import Work from "../components/sections/Work.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Spotlight from "../components/Spotlight.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Spotlight />
  <Navbar />
  <SocialMedia />
  <body class="h-full w-full flex">
    <Header />
    <div
      class="px-5 md:px-25 font-instrument text-white opacity-85 text-center pb-10"
    >
      <h1 id="about" class="text-3xl xl:text-4xl 2xl:text-5xl font-syne mb-10">
        About
      </h1>
      <div class="flex items-center mb-10">
        <About />
        <div class="col w-1/2 px-20">
          <AboutCard
            title="Clean Code"
            description="Developing clear, maintainable, and scalable code that aligns with best practices and industry standards."
            icon="code"
          />
          <AboutCard
            title="High-Performance Interfaces"
            description="Creating high-performance apps focused on speed, accessibility, and delivering a smooth user experience."
            icon="lightning"
          />
          <AboutCard
            title="Frameworks & Mobile Development"
            description="Proficient in modern web frameworks and mobile technologies to build versatile solutions and expand project impact."
            icon="mobile"
          />
        </div>
      </div>

      <h1 id="skills" class="text-3xl xl:text-4xl 2xl:text-5xl font-syne mb-8">
        Skills
      </h1>
      <Skills />
      <h1 id="work" class="text-3xl xl:text-4xl 2xl:text-5xl font-syne mt-8">
        Work
      </h1>
      <Work />
      <h1 id="contact" class="text-3xl xl:text-4xl 2xl:text-5xl font-syne mt-8 mb-10">
        Get In Touch
      </h1>
      <Contact />
    </div>
  </body>
</Layout>
