---
const { title, description, icon } = Astro.props;
---

<div class="block w-4/5 font-syne my-4 p-4 pb-6 border border-port-color rounded-lg bg-black">
  <div class="flex items-center">
    <div class="flex-shrink-0">
      <img src={`/${icon}.svg`} alt="" width="64" />
    </div>
    <div class="flex-grow text-center">
      <h1 class="text-2xl">{title}</h1>
    </div>
    <div class="flex-shrink-0 w-16"></div>
  </div>
  <h2 class="pt-2.5 font-instrument">{description}</h2>
</div>
