<leftSide class="animate-fadeIn">
  <header
    class="flex flex-col items-center justify-center min-h-screen px-4 pt-20 pb-10 text-center h-full
        xl:text-8xl lg:text-6xl text-6xl
        2xl:text-9xl
        text-white opacity-85 transition-all duration-400"
  >
    <headerTitle class="font-syne">
      <h1>Christian</h1>
      <h1 class="lg:ps-24">Rodrigo</h1>
      <subTitle
        class="xl:text-3xl text-2xl pt-4 flex gap-2 justify-center lg:ps-1"
      >
        <h1 class="port-color">Software</h1>
        <h1>Web Developer</h1>
      </subTitle>
      <h3
        class="xl:text-lg text-base mt-2 opacity-80 text-center lg:me-3 xl:pe-0 xl:me-0 xl:ps-1.5"
      >
        Crafting modern, fast, and user-centered web experiences
      </h3>
    </headerTitle>
  </header>
</leftSide>
