<div class="w-full fixed flex justify-center z-50 top-0 sm:top-6">
  <div
    class="inline-flex text-white opacity-80 font-instrument border border-[#1e1d1f] bg-white/2 backdrop-blur-md py-3 rounded-xl px-24 text-sm gap-8 sm:px-8 sm:text-base sm:gap-16"
  >
    <section
      class="transition-colors duration-300 hover:text-[#b391e6c5] cursor-pointer"
    >
      <a href="/#about">About</a>
    </section>
    <section
      class="transition-colors duration-300 hover:text-[#b391e6c5] cursor-pointer"
    >
      <a href="/#skills">Skills</a>
    </section>
    <section
      class="transition-colors duration-300 hover:text-[#b391e6c5] cursor-pointer"
    >
      <a href="/#work">Work</a>
    </section>
  </div>
</div>
