---
import AboutCard from "./AboutCard.astro";
import About from "./sections/About.astro";
import Skills from "./sections/Skills.astro";
import Work from "./sections/Work.astro";
---

<rightSide>
  <div class="px-5 md:px-25 font-instrument text-white opacity-85 text-center">
    <h1 id="about" class="text-3xl xl:text-4xl 2xl:text-5xl font-syne mb-10">
      About
    </h1>
    <div class="flex">
      <About />
      <div class="col w-1/2">
        <AboutCard title="Clean Code" description="Writing maintainable, scalable, and efficient code that follows best practices and industry standards." icon="code"/>
        <AboutCard title="High-Performance Interfaces" description="Developing optimized applications for speed, accessibility, and seamless user experience." icon="lightning"/>
        <AboutCard title="Frameworks & Mobile Development" description="Knowledge of modern web frameworks and mobile development to expand project reach and versatility." icon="mobile"/>
      </div>
    </div>

    <h1 id="skills" class="text-3xl xl:text-4xl 2xl:text-5xl font-syne">
      Skills
    </h1>
    <Skills />
    <h1 id="work" class="text-3xl xl:text-4xl 2xl:text-5xl font-syne">Work</h1>
    <Work />
  </div>
</rightSide>
